.App {
  text-align: center;
}

body {
  font-size: 1.25em;
  width: 100%;
  margin: auto;
  font-family: "Gill Sans", sans-serif;
}

#aboutme {
  max-width: 35%;
  margin: 0 auto;
}

.screenshot {
  max-width: 30%;
  max-height: auto;
  transition: transform .2s;
}

.screenshot:hover {
  transform: scale(2.0);
}

#project_list {
  max-width: 50%;
  margin: 0 auto;
}

#tech_stack {
  display: flex;
  flex-direction: column;
}

#personal_stack {
  display: flex;
  flex-direction: column;
}

#inspirations {
  display: flex;
  flex-direction: column;
}

#contact {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
