.App {
  margin: auto 15%;
}

body {
  text-align: center;
  font-size: 1.25em;
  width: 100%;
  margin: auto;
  font-family: 'Hack', 'DejaVu Sans', sans-serif;
}

#header {
  text-align: center;
}

#navbar {
  word-spacing: 2pt;
}

a { 
  text-align: center;
  text-decoration: none;
}

#aboutme {
  text-align: left;
}

#project_list {
  text-align: left;
}

.show_projects h4 {
  background-color: gray;
}

.screenshot {
  max-width: 50%;
  max-height: auto;
  transition: transform .2s;
}

.screenshot:hover {
  transform: scale(2.0);
}

#stacks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 75px;
}

#tech_stack {
  display: flex;
  flex-direction: column;
}

#personal_stack {
  display: flex;
  flex-direction: column;
}

#inspirations {
  display: flex;
  flex-direction: column;
}

#footer {
  margin-top: 100px;
}

#icons {
  max-width: 20%;
  margin: 0 auto;
}

#footer img {
  width: 20px;
  margin: 5%;
}

